Codefarts.AppCore/bin/
Codefarts.AppCore/obj/
*.user
Codefarts.AppCore.Android/obj/
*.meta
Codefarts.AppCore35/obj/
Codefarts.AppCore45/obj/
Codefarts.AppCoreWpf45/obj/
Codefarts.AppCoreWpf35/obj/
Codefarts.AppCoreWpf45/bin/
Codefarts.AppCoreWpf35/bin/
Codefarts.AppCore45/bin/
Codefarts.AppCore35/bin/
.vs/
codealike.json
AppCoreTests/bin/
AppCoreTests/obj/
Codefarts.AppCore_NETCore/bin/
Codefarts.AppCore_NETCore/obj/
Codefarts.AppCoreNETStd/obj/
Codefarts.AppCoreNETStd/bin/
Codefarts.AppCore.Unity.Editor/bin/
Codefarts.AppCore.Unity.Editor/obj/
Codefarts.AppCore.Unity/obj/
Codefarts.AppCore.Unity/bin/
Codefarts.AppCoreWpf46/obj/
Codefarts.AppCoreWpfNETCore32/bin/
Codefarts.AppCoreWpfNETCore32/obj/
packages/
