Codefarts.AppCore/bin/
Codefarts.AppCore/obj/
*.user
Codefarts.AppCore.Android/obj/
*.meta
Codefarts.AppCore35/obj/
Codefarts.AppCore45/obj/
Codefarts.AppCoreWpf45/obj/
Codefarts.AppCoreWpf35/obj/
Codefarts.AppCoreWpf45/bin/
Codefarts.AppCoreWpf35/bin/
Codefarts.AppCore45/bin/
Codefarts.AppCore35/bin/
.vs/
codealike.json
