Codefarts.AppCore/bin/
Codefarts.AppCore/obj/
*.user
Codefarts.AppCore.Android/obj/
*.meta
Codefarts.AppCore35/obj/
Codefarts.AppCore45/obj/
Codefarts.AppCoreWpf45/obj/
Codefarts.AppCoreWpf35/obj/
Codefarts.AppCoreWpf45/bin/
Codefarts.AppCoreWpf35/bin/
Codefarts.AppCore45/bin/
Codefarts.AppCore35/bin/
.vs/
codealike.json
AppCoreTests/bin/
AppCoreTests/obj/
Codefarts.AppCore_NETCore/bin/
Codefarts.AppCore_NETCore/obj/
Codefarts.AppCoreNETStd/obj/
Codefarts.AppCoreNETStd/bin/
Codefarts.AppCore.Unity.Editor/bin/
Codefarts.AppCore.Unity.Editor/obj/
Codefarts.AppCore.Unity/obj/
Codefarts.AppCore.Unity/bin/
Codefarts.AppCoreWpf46/obj/
Codefarts.AppCoreWpfNETCore32/bin/
Codefarts.AppCoreWpfNETCore32/obj/
packages/
Codefarts.AppCoreWpf47/obj/
Codefarts.AppCore47/obj/
Setting Providers/Codefarts.AppCore.SettingProviders.Xml/obj/
Setting Providers/Codefarts.AppCore.SettingProviders.Xml47/obj/
Setting Providers/Codefarts.AppCore.SettingProviders.Xml/bin/
Codefarts.AppCoreWpfCore31/obj/
Codefarts.AppCoreWpfCore31/bin/
Codefarts.AppCoreWpf46/bin/
Codefarts.AppCoreWpf47/bin/
Codefarts.AppCore47/bin/
Setting Providers/Codefarts.AppCore.SettingProviders.Xml47/bin/
Localization Providers/Codefarts.AppCore.LocalizationProviders.TextFileCore31/obj/
Localization Providers/Codefarts.AppCore.LocalizationProviders.TextFileCore31/bin/
